


<nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card-2" style="z-index:3;width:250px;" id="mySidebar">

	<a href="#" target="_blank"><img src="assets/unilogo.png" width='200px' height='200px'class="logo"style=' padding: left 100px;'></a>
	<h1  id="Uname">ABC University</h1>

	<a class="w3-bar-item w3-button" routerLink="/student-list"> <i class="w3-medium fa fa-user"></i>  Student List</a>
	<a class="w3-bar-item w3-button" routerLink="/student-add" > <i class="w3-medium fa fa-plus"></i>  Add new Student</a>
	<a class="w3-bar-item w3-button"  routerLink="/employee-list"> <i class="w3-medium fa fa-user"></i>  Employee List</a>
	<a class="w3-bar-item w3-button" routerLink="/employee-add" > <i class="w3-medium fa fa-plus"></i>  Add new Employee</a>
	<a class="w3-bar-item w3-button" (click)="logOut()"><i class="w3-medium fa fa-sign-out"></i>  Logout</a>
</nav>


<div class="w3-main w3-indigo" style="margin-left:250px;">
	<div class="top" >
		<img src="assets/uni.png" width='200px' height='150px'class="logo"style=' padding: left 100px;'>
		<h3 style=" font-family:Verdana, Geneva, Tahoma, sans-serif;">#A University should be a place of light, of liberty, and of learning..!</h3>
	</div>
	<div class="rest">
		
	<div class="w3-container w3-yellow ">

		 <div class="student">
		<img src="assets/class.jpg" width='400px' height='350px'class="logo"style=' padding: left 100px;'>
		<h2 style=" font-family: 'Times New Roman', Times, serif;">Our Class Rooms</h2>
		</div>
		
		<div class="campus">
			<img src="assets/campus.jpg" width='400px' height='350px'class="logo"style=' padding: left 100px;'>
			<h2 style=" font-family: 'Times New Roman', Times, serif;">Our Campus</h2>
		</div>
		<div class="lab">
			<img src="assets/lab.jpg" width='400px' height='350px'class="logo"style=' padding: left 100px;'>
			<h2 style=" font-family: 'Times New Roman', Times, serif;">Our Labs</h2>
		</div>
	
	</div>
</div>
</div>
